<section>
    <div class="container p-3">
         <table class="table">
    
  <thead>
    <tr>
      <th scope="col">Sl.no</th>
      <th scope="col">Item</th>
      <th scope="col">quantity</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  {{#each products}}
  <tbody>
    <tr>
      
      
      <td><img style="width: 50px;height:50px" src="/images/{{this.product._id}}.jpg" alt=""></td>
      <td>{{this.product.name}}</td>
      
      
      <td>
        <button type="button" class="btn btn-secondary count-btn"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
        <span id="{{this.product._id}}">{{this.quantity}}</span>
        <button type="button" class="btn btn-secondary count-btn" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
      </td>
      <td><button type="button" class="btn btn-danger"onclick="removeProduct('{{this._id}}','{{this.product._id}}')"
       >remove</button></td>
    </tr>
  </tbody>
  {{/each}}
</table>
<br>
<div class="float-end me-5">
  <h3 class="float-end me-5">Total price:Rs <span id="total">{{totalValue}}</span></h3><br>
  <a href="/place-order/" class="float-end  btn btn-success count-btn me-5">place order</a>
</div>

</div>
   
</section>
<script>
  function changeQuantity(cartId,proId,userId,count){
    let quantity=parseInt(document.getElementById(proId).innerHTML)//  quantity displayed in html page
    count=parseInt(count)
 
    $.ajax({
      url:'/change-quantity-of-product/',
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert('remove from cart')
          location.reload()
        }else{
          document.getElementById(proId).innerHTML=quantity+count
          document.getElementById('total').innerHTML=response.total


        }
      }
    })

  }
</script>

<script>
  function removeProduct(cartId, proId) {
    $.ajax({
      url: '/remove-product-items/',
      method: 'post',
      data: {
        cart: cartId,
        product: proId
      },
      success: (response) => {
        if (response.removeProduct) {
          alert('remove from cart')
          location.reload()
        }
      },
      error: (error) => {
        console.error(error);
      }
    });
  }
</script>

