<section>
    <div class="container p-3">
         <table class="table">
    
  <thead>
    <tr>
      <th scope="col">Sl.no</th>
      <th scope="col">Item</th>
      <th scope="col">quantity</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  {{#each products}}
  <tbody>
    <tr>
      
      
      <td><img style="width: 50px;height:50px" src="/images/{{this.product._id}}.jpg" alt=""></td>
      <td>{{this.product.name}}</td>
      
      
      <td>
        <button type="button" class="btn btn-secondary count-btn"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
        <span id="{{this.product._id}}">{{this.quantity}}</span>
        <button type="button" class="btn btn-secondary count-btn" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
      </td>
      <td><button type="button" class="btn btn-danger" >remove</button></td>

    </tr>
    
  </tbody>
  {{/each}}
</table>
    </div>
   
</section>
<script>
  function changeQuantity(cartId,proId,count){
    let quantity=parseInt(document.getElementById(proId).innerHTML)//  quantity displayed in html page
    count=parseInt(count)
 
    $.ajax({
      url:'/change-quantity-of-product/',
      data:{
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert('remove from cart')
          location.reload()
        }else{
          document.getElementById(proId).innerHTML=quantity+count
        }
      }
    })

  }
</script>
